<!doctype html>
<!---
  this default.html is based on 
    https://github.com/pages-themes/dinky
--->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ '/assets/js/prmenu.min.js' | relative_url }}"></script>
<script>
  $(document).ready(function () {
    $('#top-menu').prmenu();
  });
</script>

<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ '/assets/css/prmenu.css' | relative_url }}" />

  <style>
    body {
      margin: 0;
      padding: 0;
    }
  </style>

</head>

<body>

  <!------------ メニューバー ------------->
  <ul id="top-menu">
    <li><a href="{{ '/' | relative_url }}">トップページ</a></li>
    <li><a href="#">校務支援ソフトウェア</a>
      <ul>
        <li><a href="https://phys-ken.github.io/saitenGiri2021/">採点斬り2021</a></li>
        <li><a href="{{ '/sub2_softwares' | relative_url }}">その他のソフト</a> </li>
      </ul>
    </li>
    <li><a href="{{ '/sub3_tools' | relative_url }}">教材</a></li>
    <li><a href="{{ '/sub1_docs' | relative_url }}">発表資料等</a> </li>
    <li><a href="#">Links</a>
      <ul>
        <li><a href="https://github.com/phys-ken">Github</a> </li>
        <li><a href="https://twitter.com/phys_ken">Twitter</a> </li>
        <li><a href="https://qiita.com/phys-ken">Qiita</a></li>
        <li><a href="https://www.youtube.com/channel/UCZ_2UC-s5Sv4bCqh2EKjNmw">Youtubeチャンネル</a> </li>
      </ul>
    </li>
    <li><a href="#">YPC</a>
      <ul>
        <li><a href="{{ '/sub4_ypc' | relative_url }}">YPC例会アルバム検索システム</a> </li>
        <li><a href="#">発表資料(準備中)</a> </li>
      </ul>
    </li>

  </ul>


  <!------------ メニューバー ------------->


  <div class="wrapper">

    <!-- ヘッド -->
    <header>
      <h1 class="header">Phys-kenのページ</h1>
      <p class="header">公立高校教員(物理)が、自分の資料を置いています。</p>
    </header>

    <!--  Markdown の本体 -->
    <section>
      {{ content }}
    </section>

    <footer>
      <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      <p><a class="buttons github" href="{{ site.github.repository_url }}">View On GitHub</a></p>
    </footer>
  </div>

</body>

</html>